<h1>Lista de Productos</h1>
<ul>
  {{#each products}}
  <li>
    <h3>{{this.name}}</h3>
    <p>Precio: {{this.price}}</p>
    <p>Descripcion: {{this.description}}</p>
    <p>Stock: {{this.stock}}</p>
    <a href='/carts/{{cartIdString}}'>Agregar al carrito</a>
  </li>
  {{/each}}
</ul>