<div>
    <h2>Add product</h2>
    <form id="form">
        Title: <input type="text" name="title" id="title">
        Description: <input type="text" name="description" id="description">
        Price: <input type="number" name="price" id="price">
        Stock: <input type="number" name="stock" id="stock">
        Code: <input type="number" name="code" id="code">
        <input type="submit" value="Create">
    </form>

</div>


<div id="error-message"></div>


<table id="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Code</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>{{price}}</td>
            <td>{{stock}}</td>
            <td>{{code}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>


<script src="socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>